<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @destination.name %>
</p>

<p>
  <b>Description:</b>
  <%= @destination.description %>
</p>


<%= link_to 'Edit', edit_trip_destination_path(@trip, @destination) %> |
<%= link_to 'Back', trip_path(@trip) %>
